* {
	/* background-color: #f0e8ff; */
    font-family: sans-serif;
    padding: 0;
    border:0;
    margin: 0;
    border-radius: 0;
}
@font-face{
    margin-left: 5%;;
    font-family: cyberPunk;
    src: url(Orbitron-VariableFont_wght.ttf);
}
.slider {
    margin-top:35%;
    margin-left: 0;
    margin-right:0;
    position: absolute;
    display:inline-block;
    -webkit-appearance: none;
    width: 10%;
    height: 5px;
    border-radius: 5px;  
    background: #eac5c5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover{
    background: #ffbf00;
    transition-duration: 1s;


  }
  .slider::-webkit-slider-thumb:hover{
 
    background: #ffffff;
   transition-duration: 0.5s;
    

  }


  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #0d62ff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
h1{
    font-family:cyberPunk;
    color: rgb(255, 222, 227);
   
    opacity: 0.8;
 
    position: absolute;
}

h2{
    font-size: 50px;
    margin-left: 45%;
    position: center;
    padding:0;
    display: inline-block;
    position: absolute;
    font-family: 'VT323', monospace;
    /* background-color: rgb(172, 3, 198); */
    color: rgb(69, 39, 241);
    
}
img{
    position: absolute;
    margin-left:95%;
}
footer{
    display: inline-block;
    font-family:cyberPunk;
    color: rgb(30, 30, 30);
   margin-left: 45%;
   margin-top: 45%;
    opacity: 0.8;
 
    position: absolute;
}
p{
    display: inline-block;
}
canvas{
	padding: 0;
	display:block;
/*	position: center;*/
	margin-left: 15%;

	border-color: red;
}
button{
    margin-top: 50%;
}
#button{
    /*border-radius: 5px;*/
    background-color:rgba(119, 203, 253,0.2);
    color: rgba(30,35,30,1);
    border-color: rgba(0,0,0,0);
    font-weight: bold;
    position: fixed;
    margin-left: 80%;
    margin-top: 30%;

}
#button:hover{
    background-color: rgba(119, 203, 253,1);
    transition: 0.1s;

}
#button:active{
    background-color: white;
    color: black;
    border-color: rgba(0,0,0,0);
}
#button:focus{
                  background-color:rgba(119, 203, 253,0.2);
    color: rgba(30,35,30,1);
    border-color: rgba(0,0,0,0);

}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}